/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0 0 20px;
   padding: 0;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
}

h1 {
   font-size: 25px;
}

.page-header {
   padding-bottom: 0; 
   margin: 0; 
   border-bottom: 0; 
}

h2 {
   font-size:22px;
}

h3 {
   font-size: 18px;
}

   .widget-inner h3 {

   }

h4 {

}

a {
   color: #e7b23b;
}

.menu-spacer {
   opacity: 0;
}

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }

.img-c { position: relative; }
.img-c img {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
}

.fa {
   font-size: 20px !important;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.section-top-container {
   background-color: #191817;
   color: #fff;
   line-height: 20px;
   font-size: 14px;
   padding: 10px 0;
   
   ul {
      margin: 0;
   }

   a {
       color: #fff;
   }
}

.banner {

}

.navbar-brand {
   display: inline-block;
   float: none;
}

.fa-phone {
   display: inline-block;
   margin: 0 0 0 20px;
}

.fa-twitter,
.fa-facebook,
.fa-pinterest,
.fa-houzz {
   display: inline-block;
   margin: 0 0 0 5px;
}

.fa-facebook {
   display: inline-block;
   margin: 0 0 0 15px;
}

.home .page-header {
   display: none;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.list {

   li {
      width: 25%;
      float: left;
   }
}

.section-slider {
   padding: 333px 0 0;
   background-color: #ddd;
   background-image: url('../../../../../media/Untitled-11.jpg');
   background-position: center bottom;
   background-size: cover;

}

.carousel {

   .item {
      position: relative;

      .overlay {
         position: absolute;
         width: 100%;
         background-color: rgba(0,0,0,0.6);
         bottom: 0;
         color: #fff;
         left: 0;
         padding: 20px;

         p {
            margin: 0
         }
      }
   }
   .carousel-control {
      background: transparent;
   }
}

   div.wpcf7 {
      padding: 20px !important;
      background-color: #E2DCDE;
      margin: 0 0 0 -30px;
      height: 455px;
   }

      .wpcf7 label {
         margin: 0;
         padding: 0;
         line-height: 20px;
         display: inline-block;
         font-size: 12px;
         color: #191817;
      }

      .wpcf7 input[type="text"],
      .wpcf7 input[type="tel"],
      .wpcf7 input[type="email"],
      .wpcf7 select {
         width: 100%;
         background-color: rgba(255,255,255,1);
         border: 0px solid #ddd;
         border-radius: 4px;
         padding: 5px !important;
         color: #fff;
         -webkit-appearance: none;
      }

      .wpcf7 input[type="submit"] {
         background-color: #e7b23b;
         width: 100%;
         border: 0px solid #ddd;
         border-radius: 4px;
         color: #fff;
         margin: 15px 0 0;
         display: inline-block;
         font-weight: 700;
         line-height: 20px;
         padding: 10px 50px;
      }

      .ajax-loader {
         display: none;
      }

      .section-slider h2 {
         color: #191817;
         font-size: 20px;
         margin: 0 0 10px;
      }

.content {
   padding-top: 30px;
}

.sub-heading {
   padding: 20px;
   line-height: 1.5em;
   font-size: 24px;
   background-color: #eee;
   margin: 0 0 40px;
   font-weight: 700;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.btn-primary {
   background-color: #e7b23b;
   padding: 20px;
   color: #fff;
   line-height: 20px;
   font-size: 20px;
   margin: 20px 0 0;
   border: 0;
}

   .btn-primary:hover {
      background-color: #bd963c;
   }

.sidebar-button {
   padding: 20px;
   background-color: #E2DCDE;
   margin: 0 0 20px;
   border-radius: 5px;
   box-shadow: inset 0 0 0 1px #fff;
   border: 1px solid #ddd;

   h2 {
      font-size: 18px;
   }

   .fa {
      margin: 0 10px 0 0;
   }

   h3 {
      font-size: 16px;
   }

   p {
      margin: 0;
      font-size: 14px;
      color: #191817;
   }

}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   background-color: #191817;
   padding: 40px 0;
   color: #fff;
   margin: 40px 0 0;
}

   .content-info ul{
      margin: 0;
   }

      .content-info li {
         line-height: 30px;
      }

   .content-info a {
      color: #e7b23b;
   }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) {
   .navbar-default {
   background-color: #191817;
   border: 0;
   text-align: center;
   margin: 0;
   }

   .navbar-container {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191817+0,201d1e+100 */
   background: #191817; /* Old browsers */
   border-bottom: 4px solid #e7b23b;
   text-align: center;
   }

   .navbar-nav {
   float: none;
   display: inline-block;
   }

   .navbar-collapse {
   height: 40px;
   }

   .navbar > .container .navbar-brand {
   margin: 0;
   }

   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
   .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color: #e7b23b;
   background-color: transparent;
   border: 0px solid #e7b23b;
   border-bottom: 0px;
   /*border-radius: 4px 4px 0 0;*/
   margin: 0;
   /*padding: 18px 19px 15px;*/
   }

   .nav > li > a {
   position: relative;
   display: block;
   padding: 10px 20px;
   }

   .navbar-default .navbar-nav > li > a {
   color: #eee;
   font-weight: 700;
   }
}
